*+* {
    box-sizing: border-box;
    margin: .5em 0
}

@media(min-width:35em) {
    .col {
        display: table-cell
    }
    .\31 {
        width: 5%
    }
    .\33 {
        width: 22%
    }
    .\34 {
        width: 30%
    }
    .\35 {
        width: 40%
    }
    .\32 {
        width: 15%
    }
    .row {
        display: table;
        border-spacing: 1em 0
    }
}

.row,
.w-100 {
    width: 100%
}

.btn:hover,
a:hover {
    opacity: .6
}

.c {
    max-width: 60em;
    padding: 1em;
    margin: auto;
    font: 1em/1.6 nunito
}

h6 {
    font: 300 1em nunito
}

h5 {
    font: 300 1.2em nunito
}

h3 {
    font: 300 2em nunito
}

h4 {
    font: 300 1.5em nunito
}

h2 {
    font: 300 2.2em nunito
}

h1 {
    font: 300 2.5em nunito
}

a {
    color: #fa0;
    text-decoration: none
}

.btn.primary {
    color: #fff;
    background: #fa0;
    border: solid #fa0
}

pre {
    overflow: auto
}

td,
th {
    padding: 1em;
    text-align: left;
    border-bottom: solid #eee
}

/* This element would be replaced by where you want the templates. */
.tweetEntry-tweetHolder {
    border-left: 1px solid #e1e8ed;
    border-right: 1px solid #e1e8ed;
    border-top: 1px solid #e1e8ed;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    margin-top: 15px;
  }
  
  /* The action list is optional. */
  .tweetEntry-action-list {
    display: block;
    line-height: 18px;
    margin-left: 58px;
    margin-top: 10px;
    color: #292f33;
  }
  .fa-reply:hover {
    color: #292f33;
  }
  .fa-retweet:hover {
    color: #5cd65c;
  }
  .fa-heart:hover {
    color: #ff3333;
  }
  /************************/
  
  .tweetEntry {
    border-bottom: 1px solid #e1e8ed;
    cursor: pointer;
    min-height: 51px;
    padding: 9px 12px;
  }
  .tweetEntry-content {
    display: block;
    font-size: 14px;
    margin-left: 58px;
    font-size: 14px;
  }
  .tweetEntry-account-group {
    color: #8899a6;
    padding: 0px;
    text-decoration: none;
    line-height: 20px;
  }
  .tweetEntry-avatar {
    float: left;
    height: 48px;
    width: 48px;
    margin-left: -58px;
    border-radius: 5px;
  }
  .tweetEntry-fullname {
    font-weight: bold;
    font-size: 14px;
    color: #292f33;
    padding: 0px;
  }
  .tweetEntry-username {
    font-weight: bold;
    font-size: 14px;
    color: rgb(101, 119, 134);
    padding: 0px;
  }
  .tweetEntry-timestamp {
    font-size: 14px;
    color: rgb(101, 119, 134);
    padding: 0px;
  }
  .tweetEntry-text-container {
    font-size: 14px;
    color: #292f33;
    line-height: 18px;
  }
  
  .optionalMedia {
    margin-left: 58px;
    margin-top: 10px;
  }
  .optionalMedia-img {
    border-radius: 5px;
    max-width: 506px;
    max-height: 506px;
    
  }
  
  .logo {
    width: 70px;
    height: 41px;
    padding: 7px 8px 6px 10px;
    margin-top: 7px;
    fill: white;
    border-radius: 3px;
    background: #0a0a0a;
}